<ion-content *ngIf="this.utils.usernotwon">


  <div   *ngIf="flipmodal" class="sc__wrapper">




<ion-grid>


    <ion-row>
  
  
      <ion-col>
        <p class="surprise-text">
          Congratulations! You have won a cashback reward of Rs. 20 on this BigApple Product. 
        </p>
        
        <p class="surprise-text">
          Please enter your UPI ID and we assure you to credit you cashback in maximum 2-3 working days.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <!-- <ion-label class="upi-label" position="stacked">Please enter your UPI ID and we assure you to credit you cashback in maximum 2-3 working days.</ion-label> -->
          <ion-input [(ngModel)]="upi_detail" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row class="upi-submit">
      <ion-col>
        <ion-button  (click)="submitUPI()">
          Submit 
        </ion-button>
      </ion-col>
    </ion-row>


</ion-grid>





  </div>
<div  *ngIf="!flipmodal" class="sc__wrapper">
<ion-grid>
  <ion-row>
    <ion-col>
      <p class="surprise-text">"Are you satisfied with just cashback? Exicted about winning Silver coin on Diwali Bumper Lucky Draw?"</p>
      <p>Share with your 5 Whatsapp Friends and Stand a chance to win "Silver Coin" on this Diwali</p>
    </ion-col>

   
  </ion-row>
  <ion-row class="upi-submit" >
    <ion-col>
      <ion-button (click)="socialShare();">
        Share
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</div>


</ion-content>
<!-- <ion-col>
  <div class="btn-share" (click)="socialShare();">
    <ion-icon ios="ios-share" md="md-share"></ion-icon>
  </div>
</ion-col> -->

<ion-content *ngIf="!this.utils.usernotwon">
<ion-grid>

  <ion-row>
    <ion-col>
      <p class="surprise-text">
        If customer shares with 5 Friends on whatsapp and will stand a
      chance to win Bumper price.


      </p>
    </ion-col>

   
  </ion-row>



  <ion-row class="upi-submit" >
    <ion-col>
      <ion-button (click)="socialShare();">
        Share with friends
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>