


  <!-- <ion-content> -->
    <div class="sc__wrapper">
      <h5 (click)="closeModal()" style="top: 0px;
      right: 10px;
      z-index: 3;
      font-size: 30px;
      position: absolute;">X</h5>


<ion-grid>
  <ion-row>
    <ion-col>
      <p>
        You won a Cashback
      </p>
    </ion-col>
  </ion-row>>
</ion-grid>

<!-- <ion-button (click)="closeModal()" style="    position: absolute;
bottom: 18px;
left: 11px;">
  Apply This coupon
</ion-button> -->
<!-- <ion-row (click)="closeModal()" class="participate explore">
  <ion-col  size="12" class="participate_in">
    <span>  Apply This coupon
    </span>
  </ion-col>
</ion-row> -->
      
    </div>
  <!-- </ion-content> -->