<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="padding-0" >{{transService.getTranslatedData('notice-details.title')}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>

    <ion-card class="ticket-details-list padding-10 margin-5">
      <ion-row class="padding-top-5">
        <ion-col size="2" class="padding-top-0">
          <ngx-avatar name="{{notice.createdBy?.firstName}}
            {{notice.createdBy?.lastName}}"></ngx-avatar>
        </ion-col>
        <ion-col size="6" class="margin-left-8">
          <p class="gotham-medium font-14 dark-grey margin-padding-zero">{{notice.createdBy?.firstName}}
            {{notice.createdBy?.lastName}}</p>
          <p class="txt-warm-grey font-14 Gotham-medium margin-bottom-0
            margin-top-5 font-weight-500 txt-nowrap">
            {{notice.listing?.block}} {{notice.listing?.door}} {{notice.listing?.block?notice.listing?.door?'-':'-':''}} 
            {{notice.createdBy?.types}}
          </p>
        </ion-col>
        <ion-col class="text-right">
          <ion-badge color="warning" *ngIf="notice.discussionType" class="border-radius-10">{{notice.discussionType}}
          </ion-badge>
          <p class="txt-warm-grey font-11 Gotham-medium margin-bottom-0
            margin-padding-zero font-weight-500 txt-nowrap">
            {{notice.createdAt |agoFilter}}
          </p>
        </ion-col>
      </ion-row>
      <div class="padding-5">
        <p class="Gotham-medium font-14 font-weight-500 margin-bottom-5
          dark-grey margin-top-5">
          {{notice.title}}
        </p>
        <p class="txt-warm-grey font-14 Gotham-medium margin-bottom-0
          margin-top-5 font-weight-500" [innerHTML]="notice.body">
        </p>
      </div>

      <ion-row class="center-text" *ngIf="notice.files?.length> 0">
        <br>
        <ion-col class="display-flex justify-center">
          <img src="{{notice.files[0].aws_original_url}}" style="max-width:100%; max-height:250px !important; width:auto;
            height:auto;">
        </ion-col>
        <br><br>
      </ion-row>

      <ion-grid>
        <ion-row>
          <ion-col>
            <span class="padding-right-20">
              <ion-icon (click)="likeDiscussion(notice._id)" [ngClass]="{'btn-color':notice.hasLiked}"
                class="icon font-25 gotham margin-right-5" name="heart-empty"></ion-icon>
              <span class="text font-20">{{notice.likesCount}}</span>
            </span>
            <span class="padding-right-20">
              <ion-icon class="icon font-25 gotham margin-right-5" name="eye"></ion-icon>
              <span class="text font-20">{{notice.seenByCount}}</span>
            </span>
            <span class="padding-right-20">
              <ion-icon class="icon font-25 gotham margin-right-5" name="chatboxes"></ion-icon>
              <span class="text font-20">{{notice.commentCount}}</span>
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <div class="ticket-comment-detail" *ngFor="let comment of comments">
      <ion-row class="">
        <ion-col size="2">
          <ngx-avatar name="{{comment.createdBy.firstName}}
            {{comment.createdBy.lastName}}"></ngx-avatar>
        </ion-col>
        <ion-col class="margin-left-8">
          <ion-col class="padding-left-0">
            <span class="gotham-medium font-14 dark-grey margin-padding-zero">
              {{comment.createdBy.firstName}} {{comment.createdBy.lastName}}
            </span>
            <!-- <br>
            <span class="txt-warm-grey gotham-medium  font-14 font-weight-500 margin-top-8 txt-nowrap">
            Admin
            </span> -->
          </ion-col>
          <ion-col class="padding-0">
            <span class="float-right font-12 txt-warm-grey gotham-medium font-weight-500">
              {{comment.createdAt |agoFilter}}</span>
          </ion-col>
          <ion-row>
            <ion-col size="9" class="padding-0">
              <p class="txt-warm-grey gotham-medium font-14 font-weight-500 margin-0 comment-full-visible">
                {{comment.text}}
              </p>
            </ion-col>
            <ion-col size="3" class="padding-0">
              <a (click)='deleteComment(comment._id)'
                class="gotham-medium float-right font-12 dark-grey margin-padding-zero margin-top-1 underline-text">delete</a>
            </ion-col>

          </ion-row>


        </ion-col>
      </ion-row>
    </div>

  </div>

</ion-content>

<ion-footer>
  <ion-item no-padding lines="none">
    <label class="grey-back full-width">
      <ion-input placeholder="{{transService.getTranslatedData('notice-details.comment')}}"
        [(ngModel)]="notice.commentText" class="font-14 height-50 gotham border-0 padding-left-10"></ion-input>
    </label>
    <ion-button (click)="createComment()" class="padding-left-5 padding-right-5  margin-0 height-40" >
      <ion-icon style="font-size: x-large !important" name="paper-plane"></ion-icon>
    </ion-button>
  </ion-item>
</ion-footer>