label > .customRadio {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
}

label > input + div {
  /* IMAGE STYLES */
  cursor: pointer;
  /*border:2px solid transparent;*/
}

label > input:checked + div > div {
  /* (RADIO CHECKED) IMAGE STYLES */
  color: #ff5252 !important;
  background-color: #f7f7f7 !important;
  /*border : 1px solid #ff5252 !important;*/
}

.item-radio input:checked + .radio-content .item-content {
  background: white !important;
  /*color: #f84940 !important;*/
  color: #1bb293 !important;
}
.ion-click:hover {
  border: 1px solid #f04141 !important;
}
.width-80-percent {
  width: 80% !important;
}

.center-data-in-label {
  display: grid !important;
  justify-content: center !important;
  margin-top: -15px !important;
}

// ion-card {
//   margin: 0 !important;
// }

.Home,
.Project,
.low,
.high {
  background-color: #9d4065 !important;
  color: #f7f7f7 !important;
}

ion-input {
  margin-left: 0 !important;
}

padding-left-0 {
  padding-left: 0 !important;
}

.ion-image-item {
  --inner-padding-bottom: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-top: 0px;
  --min-height: 24px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --transition: background-color 15ms linear;
}

.img-icon {
  font-size: x-large !important;
  position: absolute !important;
}
.image {
  justify-content: flex-end !important;
  display: flex !important;
}
