<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" class="font-weight-600 font-20"></ion-back-button>
    </ion-buttons>
    <ion-title class="font-weight-600 font-20">Estimate</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="grey-back ">
  <div class="full-width grey-back max-available-height">
    <div class="margin-padding-zero bg-img-overlay-paymentdetails">
      <ion-row class="">
        <ion-col class=" txt-white padding-left-10">
          Estimate ID # {{estimate.referenceNumber}}
        </ion-col>
        <ion-col class=" txt-white txt-align-right padding-right-10 " style="text-transform: capitalize">
          <!-- <button class="button button-small"> -->
          <ion-badge color="light" mode="md" color="warning">
            <ion-label>{{estimate.status}} </ion-label>
          </ion-badge>
          <!-- </button> -->
        </ion-col>
      </ion-row>
      <ion-row class="padding-24">
        <ion-col class="center-text margin-top-10">
          <p class=" txt-white center-text font-25 margin-0">
            Rs. {{estimate.totalAmount|currency:'INR'}} </p>,
          <p class=" center-text margin-top-minus-10  margin-bottom-10 txt-white font-12 ">
            Raised on :- {{estimate.createdAt | date:'dd MMM yyyy'}} </p>
          <p class=" txt-white txt-small margin-top-0 margin-bottom-10 "> {{estimate.status}} :-
            {{estimate.estimateBelongsTo}} </p>

        </ion-col>
      </ion-row>
    </div>
    <ion-list class="padding-bottom-0">
      <ion-item lines="full">
        <ion-grid>
          <ion-row>
            <ion-col size="6" class="padding-left-10">ITEM</ion-col>
            <ion-col size="3">
              PRICE
            </ion-col>
            <ion-col size="3">
              TAX
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

    </ion-list>
    <ion-list class="padding-top-0">
      <ion-item lines="full" *ngFor="let data of estimate.itemDetails">
        <ion-grid>
          <ion-row class="padding-0">
            <ion-col size="6">
              <p class=" font-12 margin-top-5 margin-bottom-5">Amazon basics Mesh dustbin</p>
            </ion-col>
            <ion-col size="3">
              <p class=" font-12 margin-top-5 margin-bottom-5">Rs. {{data.amount | currency:'INR'}}</p>
            </ion-col>
            <ion-col size="3">
              <p class=" font-12 margin-top-5 margin-bottom-5">Rs. {{data.taxAmount | currency:'INR'}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <p class=" font-12 margin-top-bottom-5"></p>
            </ion-col>
            <ion-col size="3">
              <p class=" font-12 margin-top-bottom-5">TOTAL</p>
            </ion-col>
            <ion-col size="3">
              <p class="gotham font-12 margin-top-bottom-5">Rs. 14,00</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>

</ion-content>