<ion-header>
  <ion-toolbar color="primary">
    <ion-title>General Terms and Conditions</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="closeModal()">
        <ion-icon style="    color: white;" slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>

    <ion-item lines="none">
      <p class="font-12 ion-text-justify">

        The terms and conditions explain the nature and scope of “Naila beauty services at your door steps” here in
        referred to as
        "Naila" (as owner and management for the Service) and Users/Customers of Naila. The terms and conditions cover
        service
        usage, rules of usage, limitations and exclusions on the liability of Naila.
        PLEASE READ THESE TERMS OF SERVICE CAREFULLY. THIS IS A LEGAL AGREEMENT BETWEEN Naila.com AND YOU WHICH
        GOVERNS YOUR USE OF SERVICES. YOUR USE OF SERVICES CONSTITUTES YOUR ACCEPTENCE OF AND AGREEMENT TO ALL OF
        THE TERMS AND CONDITIONS IN THESE TERMS OF SERVICE AND YOUR REPRESENTATION THAT YOU ARE 18 YEARS OF AGE OR
        OLDER. IF YOU OBJECT TO ANYTHING IN THESE TERMS OF SERVICE, YOU ARE NOT PERMITTED TO USE THE SERVICES.
        These services are protected by copyright laws and international copyright treaties, as well as other
        intellectual property laws
        and treaties. Unauthorized reproduction or distribution of the Services, or any portion of them, may result in
        service civil and
        criminal penalties, and will be prosecuted to the maximum extent possible under the law. The services are
        licensed, not sold.

      </p>
    </ion-item>


    <ion-item lines="none">
      <ion-label size="12" class="font-14">1.DEFINITIONS</ion-label>
    </ion-item>
    <ion-item lines="none">
      <p class="font-12">In these terms and conditions, unless the context specifies otherwise:</p>

    </ion-item>

    <ion-item class="font-12 ion-text-justify" lines="none">
      <section>
        <ul class="ion-text-justify">
          <li>
            "Naila, shall mean Naila - Beauty services at your door steps incorporated under the Company Act of 1956
            and having its principal place of business at No 9, 4th cross, Vidyasagar, Thanisandra Main Road, Bangalore
            560077
          </li>
          <li> All the packages and beauty services are designed to its customers by Naila where the customers enjoy the
            salon comfort at their respective homes.
          </li>
          <li>
            Registration to the program (packages and services) is governed by these rules set by Naila for this program
            which are subject to change.

          </li>
          <li>

            "Program” means the service, managed and operated by Naila through its beautician on payrolls, Partners,
            facilities or arrangements to its registered users/customers.
          </li>

          <li>

            "Working Days” means the period from Wednesday to Monday. Timings are from 10.00 am to 7:00 pm only.
            ( Tuesday Bookings on special prior request)
          </li>
        </ul>
      </section>
    </ion-item>









    <ion-item lines="none">
      <ion-label size="12" class="font-14">2.GENERAL CONDITIONS</ion-label>
    </ion-item>


    <ion-item class="font-12 ion-text-justify" lines="none">
      <section>
        <ul class="ion-text-justify">
          <li>
            The Naila Users/customers agrees that by using the Mobile Application of Naila post login, the customer
            (she) is deemed to have read and understood the these terms and conditions of the Program and confirms
            that he/she is bound by these terms and conditions and any changes to it from time to time and such other
            terms as specified from Naila from time to time.
          </li>
          <li>

            o Registration into Naila Program/Service is voluntary, open to all natural persons above the age of 18
            (except
            only where the Partner Program is otherwise) with a correct mailing address in India
          </li>
          <li>
            Naila is not responsible for any damage / injury / loss due to undisclosed medical records / history of the
            customer.

          </li>
          <li>

            Naila provides services to only Ladies. We don’t do cross gender service
          </li>

          <li>

            The entire responsibility is on the customer booking the service and the residence owner to ensure that the
            female therapists / beauticians visiting their premises are professionally respected and their personal,
            physical or emotional safety is not breached under any circumstances. Any deliberate abuse of the
            therapist's/beauticians personal and emotional safety will result in criminal prosecution of the customer in
            the jurisdiction of local court.
          </li>




          <li>

            Naila reserves the right to modify these Terms and Conditions and such changes shall be deemed effective
            immediately upon posting of the modified Terms and Conditions on app following the posting of changes on
            our app will indicate their acceptance of changes.
          </li>

          <li>


            Naila Account is valid for lifetime post registration unless terminated in accordance with these terms and
            conditions.
          </li>


          <li>

            Customers will be personally liable for any and all costs, taxes, charges, claims or liabilities of whatever
            nature arising from the provision or availability of benefits, facilities or arrangements provided or made
            available to the customers, by Naila.
          </li>


          <li>

            The Naila account of the customers at all times remains the property of Naila, which reserves the right at
            any time in its absolute discretion and without giving notice to such users to deactivate their account.
          </li>

          <li>

            Naila shall not be liable for any loss or damage, whether direct or indirect, resulting from service
            provider or
            the product sold by the service provider.
          </li>



          <li>

            The Program on the Naila Application may be modified at the sole discretion of Nailamanagement from
            time to time without intimation to the Naila customers/users
          </li>


          <li>

            If there are any change in the contact details (mobile number/ email id/ address) of a Naila customer/users
            from what has been registered with Naila the users must update the respective contact details immediately
            either through the website, mobile app, contact center or any other channels to avoid any misuse of
            customer’s Naila Account.
          </li>


          <li>

            Naila shall not be liable for any loss or other relevant damages incurred by the customers/ users, if
            necessary details are not updated with Naila on time.
          </li>


          <li>

            All dispute complaints older than 45 Working Days from the date of the service availed will not be
            entertained. The customer/Users must provide proof of service availed as required to register any dispute.
          </li>


          <li>

            Each provision of the Terms is independent of each other. If any provision of the Terms is found void and
            unenforceable, it will not affect the validity of the remaining provisions of Terms, which shall remain
            valid
            and enforceable.
          </li>


          <li>

            Naila has the right to change your Stylist at the end moment. This might happen due to any emergency or
            health issue with the already assigned Stylish stationed in your apartment.
          </li>

          <li>


            In Case of Online Payment or Pre-Payment, Full amount will be refunded (excluding the transaction charge
            of 2%) if the cancellation is done before 4 hours of the scheduled service. No refund will be give in case
            of
            cancellation within 4 hours of the scheduled service.
          </li>

          <li>Naila access your Google accounts which autofills your email/phone number in the Sign Up and Login forms.
            This information is used for Login and Sign Up and calling by Naila Customer Care and Stylist.</li>

        </ul>
      </section>
    </ion-item>




















    <ion-item lines="none">
      <ion-label size="12" class="font-14">3.WARRANTIES / GUARANTEE</ion-label>
    </ion-item>


    <ion-item class="font-12 ion-text-justify" lines="none">
      <section>
        <ul class="ion-text-justify">
          <li>
            All warranties and guarantees on the products and services are the sole responsibility of the Service
            Provider/Seller(s) (except in some cases where the warranty or guarantee may be from the
            manufacturer(s)) providing beauty products. Nailamanagement shall not be liable or responsible for any
            defect or deficiency in the products used and service provided by the beauticians whatsoever. All
            guarantees and warranties on the Naila app shall be transferred as is from the manufacturer or the Service
            provider/Seller(s).
          </li>
          <li>

            Naila Users must contact the respective Seller(s) / Manufacturer (in case of manufacturer warranty) in the
            event of any defect or deficiency in the Service or product. In such event, Naila will purely act as a
            complaint
            routing agent. Naila gives no warranty or representation either express or implied with respect to type,
            quality or fitness of goods acquired or their suitability for any purpose provided by the Supplier under
            this
            Program, whatsoever.
          </li>




        </ul>
      </section>
    </ion-item>













    <ion-item lines="none">
      <ion-label size="12" class="font-14">4.INDEMNIFICATION</ion-label>
    </ion-item>


    <ion-item class="font-12 ion-text-justify" lines="none">
      <section>
        <ul class="ion-text-justify">
          <li>
            Customer/user agree to indemnify, defend and hold Naila , its affiliates, successors, assigns and licensors,
            franchisees or sub-franchisees, any of their respective officers, directors, employees, agents, vendors,
            licensors, representatives, advertisers, service providers and suppliers harmless from and against any and
            all
            claims, actions, losses, expenses, damages and costs (including reasonable attorneys' fees), resulting from
            any breach or violation of Terms by you, or due to your activities related to the Naila Service, whether by
            use of User Account or otherwise.
          </li>





        </ul>

      </section>
    </ion-item>
















    <ion-item lines="none">
      <ion-label size="12" class="font-14">5.APPLICABLE LAWS</ion-label>
    </ion-item>


    <ion-item class="font-12 ion-text-justify" lines="none">
      <section>
        <ul class="ion-text-justify">
          <li>
            These Terms contains the entire understanding and agreement between User and Naila and supersedes any
            and all prior or inconsistent understandings relating to Naila Service and your use of Naila Service. Terms
            cannot be changed or terminated orally. Any provision which must survive in order to allow us to enforce its
            meaning shall survive the termination of Terms. Terms and your use of Naila Service is governed by,
            construed and enforced in accordance with the laws of India applicable to contracts made, executed and
            wholly performed on the Naila Service, and, for the purposes of any and all legal or equitable actions, you
            specifically agree and submit to the exclusive jurisdiction and venue of the local Courts of your City and
            State in India and you will not object to such jurisdiction or venue on the grounds of lack of personal
            jurisdiction or otherwise.
          </li>





        </ul>
      </section>
    </ion-item>









    <ion-item lines="none">
      <ion-label size="12" class="font-14">6.DISCLAIMER</ion-label>
    </ion-item>


    <ion-item class="font-12 ion-text-justify" lines="none">
      <section>
        <ul class="ion-text-justify">
          <li>
            Naila is a connector between the service provider and the customer. Though there is a thorough
            background check and screening done on our beauticians , partner beauticians and therapists. Naila does
            take partial responsibility with regards to the behavior, actions or conduct of the beautician/therapists
            towards the customer. The customer/user should take care of their belongings and valuables during the
            visit of the beauticians/therapists. Naila will not be responsible for any loss or damage of valuables of
            Customers during or post visits of the beauticians/therapists booked through Naila.
          </li>


          <li>

            The Naila service and all contents, materials and postings are without any representation or warranty of any
            kind.
          </li>


          <li>

            You understand the Naila Service and agree to the fullest extent and their successors and assigns, or any of
            their affiliates or their respective officers, directors, employees, agents, licensors, representatives,
            operational service providers, advertisers or suppliers shall not be liable for any loss or damage, of any
            kind, direct or indirect, in connection with or arising from use of the Naila service or from this terms of
            use,
            including, but not limited to, compensatory, consequential, incidental, indirect, special or punitive
            damages
          </li>


          <li>
            Acceptance of booking amount is neither a commitment nor a guarantee by Naila to mandatorily provide a
            beautician/therapist for the services.
          </li>

          <li>

            Any need for a legal arbitration or proceedings which arises out of the service or the purchase of the
            products from the beautician/therapist is to be settled between the customer and the service provider
            without our involvement.
          </li>

        </ul>
      </section>
    </ion-item>
  </ion-list>

</ion-content>