<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Privacy policy</ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="closeModal()">
          <ion-icon style="    color: white;" slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content>
      <ion-list>

<ion-item lines="none">
  <p  class="font-12 ion-text-justify">These services are protected by copyright laws and international copyright treaties, as well as other intellectual property laws
      and treaties. Unauthorized reproduction or distribution of the Services, or any portion of them, may result in service civil and
      criminal penalties, and will be prosecuted to the maximum extent possible under the law. The services are licensed, not sold.</p>
</ion-item>


          <ion-item lines="none">
            <ion-label size="12" class="font-14">DEFINITIONS</ion-label>
          </ion-item>
          <ion-item lines="none">
            <p class="font-12">In these terms and conditions, unless the context specifies otherwise:</p>
            
          </ion-item>

          <ion-item class="font-12 ion-text-justify" lines="none">
              <section>    
                  <ul class="ion-text-justify">
                    <li>
                        "Naila, shall mean Naila - Beauty services at your door steps incorporated under the Company Act of 1956
                        and having its principal place of business at No 9, 4th cross, Vidyasagar, Thanisandra Main Road, Bangalore
                        560077  
                    </li>
                    <li> All the packages and beauty services are designed to its customers by Naila where the customers enjoy the
                        salon comfort at their respective homes.
                    </li>
                    <li>
                        Registration to the program (packages and services) is governed by these rules set by Naila for this program
                        which are subject to change.

                    </li>
                    <li>

                        "Program” means the service, managed and operated by Naila through its beautician on payrolls, Partners,
                        facilities or arrangements to its registered users/customers.
                    </li>
                  </ul>
                </section>
          </ion-item>
        </ion-list>
        
  </ion-content>