ion-label{
  font-weight: 500 !important;
  font-size: 25px !important;
  margin-bottom: 0vh !important;
}
.share-link {
  padding-left: 10%;
  padding-right: 10%;
 

  button {
    height: 35px;
    border-radius: 1vh;
    background-color: black;
    width: 100%;
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    outline: none;
  }
  
}
    .sc__wrapper{
      overflow: hidden;
      margin-top: 2em;
    }


    .participate {
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
      margin: 0px 44px 0;
      background: black;
      bottom: 29px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }


    .surprise-text{
      // text-align: center;
      margin-left: 15px;
    }
    .upi-submit{
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
      margin: 0px 44px 0;
      background: black;
      // bottom: 29px;
      // position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }
    .upi-label{
      float: left;
  display: flex;
  width: 100%;
  font-size: 22px !important;
    }

 

.paytm-num{
width: 100%;
display: inline-flex;
}

.cross-win-algo{

  float: right;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 20px;

}

//trevv

// #canvas {
//   display: block;
//   position: relative;
//   z-index: 1;
//   pointer-events: none;
//   height: 100%;
//   width: 125%;
// }

#canvas{
  height: 60%;
  position: absolute;
  z-index: 9999;
  width: 50%;
  left: 0;
}

#canvas2{
  height: 60%;
  position: absolute;
  z-index: 9999;
  width: 50%;
  right: 0;
}

.main-grid {
  width: 100%;
  height: 100%;
  position: absolute;top: 0;width: 100%;height: 100%;
  background-image: linear-gradient(
    to bottom,
    #4a4949,
    #272727,
    #525151,
    #787272,
    #706868,
    #4e5154,
    #575a5c,
    #9ca1a7,
    #e4e5e5,
    #ededee,
    #f6f6f6,
    #ffffff
  );
  text-align: center;
}

h3 {
color: rgb(0, 0, 0);
// font-family: "Arima Madurai", cursive;
}

h5 {
color: rgb(0, 0, 0);
// font-family: "Fredoka One", cursive;
}

h6 {
color: rgb(0, 0, 0);
// font-family: "Open Sans Condensed", sans-serif;
}

ion-card {
padding-bottom: 50px;
border-radius: 30px;
}

div {
text-align: center;
}

#tsparticles {
position: absolute;
top: 50%;
width: 100%;
height: 100%;
z-index: -1;
}

#complete {
position: absolute;
top: 50%;
width: 100%;
height: 100%;
}

.img2 {
width: 150px;
padding-top: 100px;
height: 250px;
}

ion-button {
  height: 44px;
--background: black !important;
  color: white;


  width: 70%;
  margin-top: 20px;

}



.upi-submit{
  margin-top: 30px;
  ion-button {

    --background: black !important;
    color: white;
    width: 70%;
    height: 44px;
    margin-top: 5px !important;
  }
}



/* Add Zoom Animation */
// .animate {
// -webkit-animation: animatezoom 0.6s;
// animation: animatezoom 1s;
// transform-style: preserve-3d;
// }

// @keyframes animatezoom {
// from {
//   transform: rotateY(0deg);
// }
// to {
//   transform: rotateY(-180deg);
// }
// }

.cross-btn{

  position: absolute;
  right: 18px;
  z-index: 99999;
  font-size: 27px;
  margin-top: 13px;
  color: white;
}