ion-label{
  font-weight: 500 !important;
  font-size: 25px !important;
  margin-bottom: 0vh !important;
}
.share-link {
  padding-left: 10%;
  padding-right: 10%;
 

  button {
    height: 35px;
    border-radius: 1vh;
    background-color: black;
    width: 100%;
    color: white;
    font-family: Montserrat;
    font-size: 18px;
    outline: none;
  }
  
}
    .sc__wrapper{
      overflow: hidden;
      margin-top: 2em;
    }


    .participate {
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
      margin: 0px 44px 0;
      background: black;
      bottom: 29px;
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 80%;
    }


    .surprise-text{
      // text-align: center;
      color: black;
      // margin-left: 14px;
    }

    .step-1-away{
      color: black;
      font-size: 16px;
      margin-top: 14px;
    }
    // .upi-submit{
      
    // }
    .upi-label{
      float: left;
  display: flex;
  width: 100%;
  font-size: 22px !important;
    }

 

.paytm-num{
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}

.cross-win-algo{

  float: right;
  margin-right: 15px;
  margin-top: 15px;
  font-size: 20px;

}

//trevv

// #canvas {
//   display: block;
//   position: relative;
//   z-index: 1;
//   pointer-events: none;
//   height: 100%;
//   width: 125%;
// }

#canvas{
  height: 60%;
  position: absolute;
  z-index: 9999;
  width: 50%;
  left: 0;
}

#canvas2{
  height: 60%;
  position: absolute;
  z-index: 9999;
  width: 50%;
  right: 0;
}

.main-grid {
  width: 100%;
  height: 100%;
  position: absolute;top: 0;width: 100%;height: 100%;
  background-image: linear-gradient(
    to bottom,
    #4a4949,
    #272727,
    #525151,
    #787272,
    #706868,
    #4e5154,
    #575a5c,
    #9ca1a7,
    #e4e5e5,
    #ededee,
    #f6f6f6,
    #ffffff
  );
  text-align: center;
}

h3 {
color: rgb(0, 0, 0);
// font-family: "Arima Madurai", cursive;
}

h5 {
color: rgb(0, 0, 0);
// font-family: "Fredoka One", cursive;
}

h6 {
color: rgb(0, 0, 0);
// font-family: "Open Sans Condensed", sans-serif;
}

ion-card {
padding-bottom: 50px;
border-radius: 30px;
}

div {
text-align: center;
}

#tsparticles {
position: absolute;
top: 50%;
width: 100%;
height: 100%;
z-index: -1;
}

#complete {
position: absolute;
top: 50%;
width: 100%;
height: 100%;
}

.img2 {
width: 150px;
padding-top: 100px;
height: 250px;
}

ion-button {
  // height: 44px;
--background: black !important;
  color: white;


  width: 100%;
  // margin-top: 20px;

}
.upi-submit-surprise{
  --background: black;
  text-align: center;
  border-radius: 25px;
  height: 50px !important;
  width: 80%;
  display: inline-flex;
  box-shadow:  8px 6px 18px rgba(0, 0, 0, 0.36), -6px -4px 18px rgba(255, 255, 255, 0.16);
  margin: auto;
  ion-button {

    --background: black !important;
    color: white;
    // width: 90%;
    // height: 48px !important;
    // margin-top: -5px !important;
  }
}
.upi-submit-paytm{
  --background: black;
  text-align: center;
  border-radius: 25px;
  height: 50px !important;
  width: 100%;
  display: inline-flex;
  box-shadow:  8px 6px 18px rgba(0, 0, 0, 0.36), -6px -4px 18px rgba(255, 255, 255, 0.16);
  margin: auto;
  ion-button {

    --background: black !important;
    color: white;
    // width: 90%;
    // height: 48px !important;
    // margin-top: -5px !important;
  }
}

.upi-submit{
  --background: black;
  text-align: center;
  border-radius: 25px;
  margin-top: 20px;
  height: 50px !important;
  width: 80%;
  display: inline-flex;
  box-shadow: 8px 6px 18px rgba(0, 0, 0, 0.36), -6px -4px 18px rgba(255, 255, 255, 0.16);
  position: fixed;
  // top: 0;
  // bottom: 180;
  bottom: 10vh;
  left: 0;
  right: 0;
  margin: auto;
  ion-button {

    --background: black !important;
    color: white;
    // width: 90%;
    // height: 48px !important;
    // margin-top: -5px !important;
  }
}



/* Add Zoom Animation */
// .animate {
// -webkit-animation: animatezoom 0.6s;
// animation: animatezoom 1s;
// transform-style: preserve-3d;
// }

// @keyframes animatezoom {
// from {
//   transform: rotateY(0deg);
// }
// to {
//   transform: rotateY(-180deg);
// }
// }

.cross-btn{

  position: absolute;
  right: 18px;
  z-index: 99999;
  font-size: 27px;
  margin-top: 13px;
  color: white;
}

ion-input{
  box-shadow: inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  // left: 15px;
  width: 100%;
}

.lose-card{
  width: 326px;
    height: 468px;
    background: #F4F4F4;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.07), -4px -4px 13px #FFFFFF, 6px 6px 36px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    border-radius: 12px;
    margin-top: 1vh;

}

.inset-card{
background: #F4F4F4;
box-shadow: inset -4px -4px 10px rgba(255, 255, 255, 0.6), inset 4px 4px 10px rgba(0, 0, 0, 0.08);
border-radius: 12px;
height: 174px;
margin: 28px 28px 28px 28px;
}
.better-luck{
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 29px;
  line-height: 24px;
  text-align: center;
  color: #292E30;
}
.lose-text{
  font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #292E30;
    margin-top: 14px;
}