ion-item {
  --background: transparent !important;
  --background-activated: transparent !important;
  --transition: background-color 15ms linear;
  --inner-padding-bottom: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-top: 0px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  margin-bottom: 1vh;
  border-bottom: none !important;
}
ion-modal {
  position: absolute;
  top: 80%;
  width: 80% !important;
  display: block;
  height: 80% !important;
}
.grandient-background {
  background: rgba(226, 226, 226, 1);
  background: -moz-linear-gradient(
    -45deg,
    rgba(226, 226, 226, 1) 0%,
    rgba(209, 209, 209, 1) 0%,
    rgba(219, 219, 219, 1) 0%,
    rgba(254, 254, 254, 1) 88%,
    rgba(254, 254, 254, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(226, 226, 226, 1)),
    color-stop(0%, rgba(209, 209, 209, 1)),
    color-stop(0%, rgba(219, 219, 219, 1)),
    color-stop(88%, rgba(254, 254, 254, 1)),
    color-stop(100%, rgba(254, 254, 254, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(226, 226, 226, 1) 0%,
    rgba(209, 209, 209, 1) 0%,
    rgba(219, 219, 219, 1) 0%,
    rgba(254, 254, 254, 1) 88%,
    rgba(254, 254, 254, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(226, 226, 226, 1) 0%,
    rgba(209, 209, 209, 1) 0%,
    rgba(219, 219, 219, 1) 0%,
    rgba(254, 254, 254, 1) 88%,
    rgba(254, 254, 254, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(226, 226, 226, 1) 0%,
    rgba(209, 209, 209, 1) 0%,
    rgba(219, 219, 219, 1) 0%,
    rgba(254, 254, 254, 1) 88%,
    rgba(254, 254, 254, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(226, 226, 226, 1) 0%,
    rgba(209, 209, 209, 1) 0%,
    rgba(219, 219, 219, 1) 0%,
    rgba(254, 254, 254, 1) 88%,
    rgba(254, 254, 254, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
.image-align{
  align-self: center;
}
.row-height{
  height: 200px;
}

.login-page-padding{
  margin-top: 0vh;
}


.passwordIcon{
  font-size: 1.2rem !important;
  position: absolute;
  margin-left: 31vw;
  top: 12vw !important;
  z-index: 99999;
  display: inline-flex;
}

.margin-top-minus-10vh{
  margin-top: -10vh !important;
}
small{
  color: red;
  font-size: 100% !important;
}
.webkit-center.login-page-padding.loginWrapper {
  margin-top: 5vh;
}
.login-win{
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: normal;
  color: black;
  margin-top: 0px;
}
.register-padding{
  margin-top: 10px !important;
}
.register-btn-new{
  margin-top:40px;
}

.paytm-msg{
  font-weight: 500;
  font-size: 30px;
  text-align: left;
}
.google-login{
  width: 100%;
  border-radius: 25px !important;
  box-shadow: 8px 6px 18px rgba(0, 0, 0, 0.36), -6px -4px 18px rgba(255, 255, 255, 0.16);
  --background: black !important;
  .full-button{
    background: linear-gradient(144.37deg, #5163E0 4.87%, #8893F0 93.04%) !important;
    width: 100%;
  }

.welcome-text{
  font-weight: bold;
}
}


ion-input{
  box-shadow:  inset -4px -4px 12px rgba(255, 255, 255, 0.1), inset 4px 4px 10px rgba(0, 0, 0, 0.4);
  border-radius: 54px;
}

.paytm-msg-para{
  // font-size: 16px;
  font-size: 16px;
  margin-top: 20px;
}

.ion-select-email{
  position: absolute;
  right: 3px;
  align-items: center;
  box-shadow: -3px -3px 5px rgba(0, 0, 0, 0.1), 3px 2px 4px rgba(26, 27, 30, 0.6), inset 2px 2px 6px rgba(255, 255, 255, 0.08), inset -4px -4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  height: 38px;
}