<ion-content>
  <div class="max-available-height full-width grandient-background- no-scroll">

    <div class="webkit-center login-page-padding loginWrapper">

      <!-- <div>
        <ion-row class="width-80-percent">
          <ion-col *ngIf="showLogo" class="image-align">
            <img  style="width: 130px; margin: 40px 0;" src="assets/imgs/nailalogo.jpg" />
          </ion-col>
        </ion-row>
      </div> -->

      <!-- <ion-row class="width-80-percent">
        <div class="text-left">
          <p class="font-20 margin-bottom-10">Welcome back,</p>
        </div>
      </ion-row> -->


      <!-- Phone number input -->
      <div [hidden]="registereduser">
        <ion-row class="width-80-percent">
          <div class="text-left">
            <p class="font-30 margin-bottom-10 welcome-text">Welcome,</p>
          </div>
        </ion-row>
        <ng-container *ngIf="!hideloginbox">

        <ion-row class="width-80-percent">
          <div class="text-left">
            <p class="font-14 margin-top-0">Enter your email to continue</p>
          </div>
        </ion-row>
        <ion-row style="margin-top: -5%;" class="width-80-percent text-left">
          <!-- <ion-col size="2">
            <ion-item>
              <ion-input disabled="true" inputmode="text" [(ngModel)]="loginData.countryCode"> </ion-input>
           <ion-icon mode="md" class="txt-warm-grey" name="arrow-dropdown"></ion-icon> -->
            <!-- </ion-item>
          </ion-col> -->
          <ion-col size="12">
            <ion-item>
              <ion-input inputmode="text" placeholder=" "
                [(ngModel)]="loginData.phoneNumber"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button (click)="togglesubmitpassword()" class="full-button" expand="full" color="primary">Submit
          </ion-button>
        </ion-row>
        <br>
      </ng-container>

        <ion-row class="width-80-percent text-left margin-top-10">
          
          <ion-row>
            <h3 class="login-win">
              You are just 2 steps away from Participating in cashback program.
            </h3>
          </ion-row>
<ion-item class="google-login">

  <ion-button (click)="GoogleAuth()" class="full-button" expand="full" >Google Login
  </ion-button>
</ion-item>
        </ion-row>
        <br>
        <!-- <ion-row class="width-80-percent center-text margin-top-10">
          
          <ion-button (click)="FacebookAuth()" class="full-button" expand="full" color="primary">facebook Login
          </ion-button>
        </ion-row> -->
<ng-container *ngIf="!hideloginbox">

  <br>
  <ion-row style="display: inline-table;"  size="12" class="width-80-percent">
    <a style="float:left; text-decoration: underline;" size="6"  class="font-16" (click)="toggleSignup()">Sign up</a>
    <a style="float:right; text-decoration: underline;"  size="6" class="font-16" (click)="togglereset()">Reset password</a>
  </ion-row>
</ng-container>

     

      </div>

      <!-- Phone number input -->
      <div [hidden]="sendotpinput">
        <ion-row class="width-80-percent">
          <div class="text-left">
            <p class="font-14">Enter your registered email</p>
          </div>
        </ion-row>
        <ion-row class="width-80-percent text-left">
          <!-- <ion-col size="3">
            <ion-item (click)="showCountryCodeModal()">
              <ion-input inputmode="text" [(ngModel)]="loginData.countryCode"> </ion-input>
              <ion-icon mode="md" class="txt-warm-grey" name="arrow-dropdown"></ion-icon>
            </ion-item>
          </ion-col> -->
          <ion-col size="12">
            <ion-item>
              <ion-input inputmode="text" placeholder=" " [(ngModel)]="loginData.phoneNumber"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <!-- <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button (click)="userSignup()" class="full-button" expand="full" color="primary">Send OTP</ion-button>
        </ion-row> -->
        <ion-row style="justify-content: center !important" class="width-80-percent margin-top-10">
          <p style="text-decoration: underline;" (click)="toggelLoginClicked()">Login</p>
        </ion-row>
      </div>

      <!-- Password input -->
      <div [hidden]="enterpassword">
        <ion-row class="width-80-percent text-left">
          <ion-col>
            <!-- <ion-item>
              <ion-label position="stacked" class="font-20 margin-bottom-10">Enter Password</ion-label>
              <ion-input type="password" placeholder=" " [(ngModel)]="loginData.password">
              </ion-input>
            </ion-item> -->

            <ion-item>
              <ion-label position="stacked" class="font-20 margin-bottom-10">Enter Password</ion-label>
              <ion-input  [type]="passwordType" [(ngModel)]="loginData.password" clearOnEdit="false"></ion-input>
              <!-- <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon> -->
          </ion-item>



          </ion-col>
        </ion-row>
        <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button class="full-button " expand="full" color="primary" (click)="registeredUser()">Login</ion-button>
        </ion-row>
        <ion-row style="justify-content: center !important" class="width-80-percent margin-top-10">
          <p (click)="editNumber()">
              <ion-icon style="vertical-align:bottom;" name="arrow-round-back"></ion-icon> Edit email</p>
        </ion-row>
      </div>


      <div [hidden]="enterotp">
        <ion-row class="width-80-percent text-left">
          <ion-col>
            <!-- <ion-item>
              <ion-label position="stacked" class="font-20 margin-bottom-10">Enter OTP</ion-label>
              <ion-input imputmode="tel" placeholder=" " [(ngModel)]="loginData.accessCode">
              </ion-input>
            </ion-item> -->

            <p>Enter the 4-digit code sent to you at</p>
            <p>{{loginData.countryCode}} {{loginData.phoneNumber}}</p>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="&bull;" class="center-text" #input1 type="number" maxlength="1"
                    pattern="[0-9]" [(ngModel)]="loginData.accessCode1"
                    (keyup)="next(input2, '', loginData.accessCode1)">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="&bull;" class="center-text" #input2 type="number" maxlength="1"
                    pattern="[0-9]" [(ngModel)]="loginData.accessCode2"
                    (keyup)="next(input3, input1, loginData.accessCode2)">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="&bull;" class="center-text" #input3 type="number" maxlength="1"
                    pattern="[0-9]" [(ngModel)]="loginData.accessCode3"
                    (keyup)="next(input4, input2, loginData.accessCode3)">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="&bull;" class="center-text" #input4 type="number" maxlength="1"
                    pattern="[0-9]" [(ngModel)]="loginData.accessCode4"
                    (keyup)="next('', input3, loginData.accessCode4)">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>

        <ion-row *ngIf="showOtpCounter" color="primary">
          <ion-col class="center-text">
            <a>Please wait for {{timeLeft}} </a>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!showOtpCounter" color="primary">
          <ion-col size="12" class="center-text">
            <a (click)="resendOtp()">Resend OTP </a>
          </ion-col>
          <ion-col class="center-text">
              <p (click)="editresendNumber()">
                  <ion-icon style="vertical-align: bottom;" name="arrow-round-back"></ion-icon> Edit email</p>
            </ion-col>
        </ion-row>
        <ion-row [hidden]="enterotp" class="width-80-percent center-text margin-top-10">
          <ion-button class="full-button " expand="full" color="primary" (click)="confirmOtp()">Confirm</ion-button>
        </ion-row>
        <!-- <br>
        <ion-row style="justify-content: center !important" class="width-80-percent">
          <a class="font-16" (click)="needHelp()">Need help?</a>
        </ion-row> -->
        <!-- <ion-row style="justify-content: center !important" class="width-80-percent margin-top-10">
          <p (click)="setVisibleBlock('phoneInput')">Login</p>
        </ion-row> -->
      </div>

      <div [hidden]=" visibleBlock !== 'verifyOtpInput' ">
        <ion-row class="width-80-percent text-left">
          <ion-col>

            <p>Enter the 4-digit code sent to you at</p>
            <p>{{loginData.countryCode}} {{loginData.phoneNumber}}</p>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input class="center-text" inputmode="tel" maxlength="1" placeholder=" "
                    [(ngModel)]="loginData.accessCode1">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input class="center-text" inputmode="tel" maxlength="1" placeholder=" "
                    [(ngModel)]="loginData.accessCode2">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input class="center-text" inputmode="tel" maxlength="1" placeholder=" "
                    [(ngModel)]="loginData.accessCode3">
                  </ion-input>
                </ion-item>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input class="center-text" inputmode="tel" maxlength="1" placeholder=" "
                    [(ngModel)]="loginData.accessCode4">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

          </ion-col>
        </ion-row>

        <ion-row *ngIf="showOtpCounter" color="primary">
          <ion-col class="center-text">
            <a>Please wait for {{timeLeft}} </a>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="!showOtpCounter" color="primary">
          <ion-col class="center-text">
            <a (click)="sendOtp()">Resend OTP </a>
          </ion-col>
        </ion-row>
        <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button class="full-button " expand="full" color="primary" (click)="verifyOtp()">Confirm</ion-button>
        </ion-row>
        <br>
        <ion-row style="justify-content: center !important" class="width-80-percent">
          <a class="font-16" (click)="needHelp()">Need help?</a>
        </ion-row>

      </div>

      <div [hidden]=" visibleBlock !== 'onboardUser' ">
        <ion-row class="width-80-percent">
          <div class="text-left">
            <p class="font-20 margin-bottom-10">Oops!</p>
          </div>
        </ion-row>
        <ion-row class="width-80-percent text-left">
          <ion-col>
            <p>We see you don't have an account,</p>
            <p>Please reach out to us to get your account created</p>
          </ion-col>
        </ion-row>
        <ion-row style="justify-content: center !important" class="width-80-percent">
          <a class="font-16" (click)="needHelp()">Contact us</a>
        </ion-row>
        <!-- <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button (click)="sendOtp()" class="full-button" expand="full" color="primary">Proceed
          </ion-button>
        </ion-row> -->
      </div>

      <div class="register-padding" [hidden]="newpassword">


        <ion-row class="width-80-percent">
          <!-- <ion-col *ngIf="hidenshow">
            <h6 class="paytm-msg">
              Awesome,<br>
             <p class="paytm-msg-para">
             {{googleLoginText}}
             </p> 
            </h6>
          </ion-col> -->

          <ion-col>
            <h6 class="paytm-msg">
              <img src={{brandImage}} alt=""><br>
             <p class="paytm-msg-para">
             {{googleLoginText}}
             </p> 
            </h6>
          </ion-col>
        </ion-row>
        

          <ion-row class="width-80-percent text-left ">
              <ion-col>
                <ion-item lines="none">
                  <ion-label position="stacked" class="font-20 margin-left-22 margin-bottom-10">Enter your name<small>*</small></ion-label>
                  <ion-input type="text" placeholder="name" [(ngModel)]="loginData.name">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          <!-- <ion-row class="width-80-percent">
              <div class="text-left">

                <ion-label position="stacked" class="font-20 margin-left-22 margin-bottom-10">Enter your email<small>*</small></ion-label>



                <!-- <p class="font-14">Enter your email<small>*</small></p> -->
              <!-- </div>
            </ion-row>  -->
            <ion-row style="margin-top: -5%;" class="width-80-percent text-left">
              <!-- <ion-col size="3">
                <ion-item lines="none" (click)="showCountryCodeModal()">
                  <ion-input inputmode="text" [(ngModel)]="loginData.countryCode"> </ion-input>
                  <ion-icon mode="md" class="txt-warm-grey" name="arrow-dropdown"></ion-icon>
                </ion-item>
              </ion-col> -->
              <ion-col size="12">
                <ion-item lines="none">
                  <ion-label position="stacked" class="font-20 margin-left-22 margin-bottom-10">Enter your email<small>*</small></ion-label>

                  <ion-input inputmode="text" placeholder="email" [(ngModel)]="loginData.phoneNumber">
                    <!-- <ion-select interface="popover" [(ngModel)]="email_end_selected" (ionChange)="changeEmailEnd($event)" class="ion-select-email" placeholder="Select One">
                      <ion-select-option value="@gmail.com">@gmail.com</ion-select-option>
                      <ion-select-option value="@yahoo.com">@yahoo.com</ion-select-option>
                    </ion-select>   -->
                  </ion-input>
                </ion-item>
              </ion-col>
              
            </ion-row>









  

        <ion-row class="width-80-percent text-left">
            <ion-col>
              <ion-item lines="none">
                <ion-label position="stacked" class="font-20 margin-left-22 margin-bottom-10">Mobile<small>*</small></ion-label>
                <ion-input type="text" placeholder="Enter your mobile number" [(ngModel)]="loginData.mobile">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

        <!-- <ion-row class="width-80-percent text-left">
            <ion-col>
                <ion-item>
                    <ion-label>Gender</ion-label>
                    <ion-select [(ngModel)]="loginData.gender" interface="popover">
                      <ion-select-option value="M">Male</ion-select-option>
                      <ion-select-option value="F">Female</ion-select-option>
                      <ion-select-option value="O">Other</ion-select-option>
                   
                    </ion-select>
                  </ion-item>
            </ion-col>
          </ion-row>


        <ion-row class="width-80-percent text-left">
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="font-20 margin-bottom-10">Enter New Password<small>*</small></ion-label>
              <ion-input type="password" placeholder="" [(ngModel)]="loginData.password"
                (ngModelChange)="validatePassword()">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="width-80-percent text-left">
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="font-20 margin-bottom-10">Confirm Password<small>*</small></ion-label>
              <ion-input type="password" placeholder="" [(ngModel)]="loginData.passwordCheck"
                (ngModelChange)="validatePassword()">
              </ion-input>
            </ion-item>
          </ion-col>
          <p class="font-14 txt-warm-grey margin-top-0">Password needs to be at least 4 characters in length </p>
        </ion-row> -->

        <!-- <p [hidden]="!passwordMismatch" class="text-denger">Password mismatch</p> -->

        <ion-row class="width-80-percent center-text register-btn-new">


          <ion-item (click)="registerUser()" class="google-login">



            <ion-button class="full-button" expand="full" color="primary"
              >Register</ion-button>
          </ion-item>



        </ion-row>
        <!-- <ion-row class="width-80-percent center-text margin-top-10" [hidden]="loginData.action !== 'resetPassword'">
          <ion-button class="full-button " expand="full" color="primary" (click)="resetPassword()"
            [disabled]="!loginData.password || !loginData.passwordCheck || loginData.password.length < 4 || !loginData.phoneNumber ||loginData.passwordCheck.length < 3 || passwordMismatch"
            (click)="registerUser()">Register</ion-button>
        </ion-row> -->


        <!-- 
        <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button class="full-button " expand="full" color="primary" (click)="registerUser()">Register</ion-button>
        </ion-row> -->
      </div>



















      <div [hidden]="forgetpassword">

        <!-- <ion-row class="width-80-percent text-left">
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="font-20 margin-bottom-10">Enter Your Name</ion-label>
              <ion-input type="text" placeholder="" [(ngModel)]="loginData.name">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row> -->
        <ion-row class="width-80-percent">
          <div class="text-left">
            <p class="font-20 margin-bottom-10">Welcome,</p>
          </div>
        </ion-row>
        <ion-row class="width-80-percent">
          <div class="text-left">
            <p class="font-14 margin-top-0">Enter your email to reset password.</p>
          </div>
        </ion-row>
        <ion-row style="margin-top: -5%;" class="width-80-percent text-left">
          <!-- <ion-col size="2">
            <ion-item>
              <ion-input disabled="true" inputmode="text" [(ngModel)]="loginData.countryCode"> </ion-input>
         <ion-icon mode="md" class="txt-warm-grey" name="arrow-dropdown"></ion-icon> -->
            <!-- </ion-item>
          </ion-col> --> 
          <ion-col size="12">
            <ion-item>
              <ion-input inputmode="text" placeholder=" "
                [(ngModel)]="loginData.phoneNumber"> </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row class="width-80-percent text-left">
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="font-20 margin-bottom-10">Enter New Password</ion-label>
              <ion-input type="password" placeholder="" [(ngModel)]="loginData.password"
                (ngModelChange)="validatePassword()">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="width-80-percent text-left">
          <ion-col>
            <ion-item>
              <ion-label position="stacked" class="font-20 margin-bottom-10">Confirm Password</ion-label>
              <ion-input type="password" placeholder="" [(ngModel)]="loginData.passwordCheck"
                (ngModelChange)="validatePassword()">
              </ion-input>
            </ion-item>
          </ion-col>
          <p class="font-14 txt-warm-grey margin-top-0">Password needs to be at least 4 characters in length </p>
        </ion-row>

        <p [hidden]="!passwordMismatch" class="text-denger">Password mismatch</p>

        <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button class="full-button " expand="full" color="primary" [hidden]="loginData.action === 'resetPassword'"
            [disabled]="!loginData.password || !loginData.passwordCheck || loginData.password.length < 4 || loginData.passwordCheck.length < 4 || passwordMismatch"
            (click)="forgotPassword()">Reset password</ion-button>
        </ion-row>
        <ion-row class="width-80-percent center-text margin-top-10" [hidden]="loginData.action !== 'resetPassword'">
          <ion-button class="full-button " expand="full" color="primary" (click)="resetPassword()"
            [disabled]="!loginData.password || !loginData.passwordCheck || loginData.password.length < 4 || loginData.passwordCheck.length < 4 || passwordMismatch"
            (click)="forgotPassword()">Reset password</ion-button>
        </ion-row>

        
        <!-- 
        <ion-row class="width-80-percent center-text margin-top-10">
          <ion-button class="full-button " expand="full" color="primary" (click)="registerUser()">Register</ion-button>
        </ion-row> -->
      </div>
    </div>

    <!-- <ion-row>
      <ion-col class="center-text">
        <img class="thm-logo" src="assets/thm-branding.png" />
      </ion-col>
    </ion-row> -->

  </div>

</ion-content>