ion-button > button {
  background-color: white;
}
.ion-image-item {
  --inner-padding-bottom: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
  --inner-padding-top: 0px;
  --min-height: 24px;
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 0px;
  --transition: background-color 15ms linear;
}

.ion-item {
  --inner-padding-bottom: 0px !important;
  --inner-padding-end: 0px !important;
  --inner-padding-start: 0px !important;
  --inner-padding-top: 0px !important;

  --padding-bottom: 0px !important;
  --padding-end: 0px !important;
  --padding-start: 0px !important;
  --padding-top: 0px !important;
}
.img-icon {
  font-size: x-large !important;
  position: absolute !important;
}
.image {
  justify-content: flex-end !important;
  display: flex !important;
}
