<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end" expand="full" class="ion-button" (click)="openScanner()">
      <ion-button style="color: black">
          <img src="../../../../assets/icons.png" width="30px" height="30px"/>
      </ion-button>
    </ion-buttons> -->

    <ion-title>Product catalog</ion-title>


    <ion-buttons (click)="socialShare();" slot="end">
      <ion-icon ios="ios-share" md="md-share"></ion-icon>
    </ion-buttons>


    <!-- <div class="btn-share" >
      <ion-icon ios="ios-share" md="md-share"></ion-icon>
    </div> -->
  </ion-toolbar>

</ion-header>


<ion-content *ngIf="listbanner && this.listbanner.data[0].meta_data.category" padding>

    <!-- <ion-searchbar placeholder="Browse products" mode="ios"
    [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"
  ></ion-searchbar> -->

  <ion-toolbar *ngIf="listGroupedProduct.length">
    <ion-title (click)="listGroupedProduct=[]">  <ion-icon  ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
       </ion-title>
  </ion-toolbar>
  <ion-row *ngIf="listGroupedProduct.length" class="center-text">
    <ion-col  *ngFor="let item of listGroupedProduct" size="6">

      <ion-card  class="myCard">
        <img (click)="showProductInfo(item)"
          src={{item.img1}} />
        <div class="myOverlay">
          <div class="card-title">{{item.product_name}}</div>
        </div>
      </ion-card>

    </ion-col>
  </ion-row>
  <ion-row *ngIf="!listGroupedProduct.length" class="center-text">
    <ion-col  *ngFor="let item of jsonToBeUsed" size="6">

      <ion-card (click)="showProductFromGroup(item.value)"  class="myCard">
        <!-- <img (click)="showProductInfo(item)"
          src={{item.img1}} /> -->
          <div class="card-title-group">{{item.key}}</div>

      
      </ion-card>
 
    </ion-col>
    <!-- <ion-col>

      <ion-card class="myCard">
        <img style="    height: 155px;"
          src="assets/imgs/dryer.jpg" />
        <div class="myOverlay">
          <div class="card-title">Styling</div>
        </div>
      </ion-card>
    </ion-col> -->

  </ion-row>
</ion-content>


<ion-content *ngIf="listbanner  && !this.listbanner.data[0].meta_data.category" padding>

  <ion-searchbar placeholder="Browse products" mode="ios"
  [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"
></ion-searchbar>
<ion-row class="center-text">
  <ion-col  *ngFor="let item of items" size="6">

    <ion-card  class="myCard">
      <img *ngIf="item.img1" (click)="showProductInfo(item)"
        src={{item.img1}} />
      <div class="myOverlay">
        <div class="card-title">{{item.product_name}}</div>
      </div>
    </ion-card>

  </ion-col>
  <!-- <ion-col>

    <ion-card class="myCard">
      <img style="    height: 155px;"
        src="assets/imgs/dryer.jpg" />
      <div class="myOverlay">
        <div class="card-title">Styling</div>
      </div>
    </ion-card>
  </ion-col> -->

</ion-row>
</ion-content>