<ion-header *ngIf="hasCatalog == '1'" no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   

    <ion-title>{{brand_name}}</ion-title>


    <ion-buttons (click)="socialShare();" slot="end">
      <ion-icon ios="ios-share" md="md-share"></ion-icon>
    </ion-buttons>


  </ion-toolbar>

</ion-header>


<ion-content *ngIf="listbanner && this.listbanner.data[0].meta_data.category && hasCatalog == '1'" padding>

 

  <ion-toolbar *ngIf="listGroupedProduct.length">
    <ion-title (click)="listGroupedProduct=[]">  <ion-icon  ios="ios-arrow-round-back" md="md-arrow-round-back"></ion-icon>
       </ion-title>
  </ion-toolbar>
  <ion-row *ngIf="listGroupedProduct.length" class="center-text">
    <ion-col  *ngFor="let item of listGroupedProduct" size="6">

      <ion-card  class="myCard">
        <img (click)="showProductInfo(item)"
          src={{item.img1}} />
        <div class="myOverlay">
          <div class="card-title">{{item.product_name}}</div>
        </div>
      </ion-card>

    </ion-col>
  </ion-row>
  <ion-row *ngIf="!listGroupedProduct.length" class="center-text">
    <ion-col  *ngFor="let item of jsonToBeUsed" size="6">

      <ion-card (click)="showProductFromGroup(item.value)"  class="myCard">
       
          <div class="card-title-group">{{item.key}}</div>

      
      </ion-card>
 
    </ion-col>
   

  </ion-row>
</ion-content>


<ion-content *ngIf="listbanner  && !this.listbanner.data[0].meta_data.category && hasCatalog == '1'" padding>

  <ion-searchbar placeholder="Browse products" mode="ios"
  [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()"
></ion-searchbar>
<ion-row class="center-text">
  <ion-col  *ngFor="let item of items" size="6">

    <ion-card  class="myCard">
      <img *ngIf="item.img1" (click)="showProductInfo(item)"
        src={{item.img1}} />
      <div class="myOverlay">
        <div class="card-title">{{item.product_name}}</div>
      </div>
    </ion-card>

  </ion-col>
 

</ion-row>
</ion-content>