.red-theme{
    ion-content{
        background-color: red;

    }

    .header .toolbar-title{
        color:#fff;
    }

    .header .toolbar-background{
        border-color: red;
        background-color: red;
    }
}