<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="padding-0" >{{transService.getTranslatedData('notice-board.title')}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="">

  <div>
    <p class="center-text gotham" *ngIf="notices.length==0">
      {{transService.getTranslatedData('notice-board.empty-array')}}</p>
    <ion-card class="ticket-details-list padding-10" [routerLink]="['/building-management-notice-details']"
      [queryParams]="{noticeId: notice._id}" *ngFor="let notice of notices">

      <ion-row class="padding-top-5">
        <ion-col size="2" class="padding-top-0">
          <ngx-avatar name="{{notice.createdBy?.firstName}} {{notice.createdBy?.lastName}}"></ngx-avatar>
        </ion-col>
        <ion-col size="6" class="margin-left-8">
          <p class="gotham-medium font-14 dark-grey margin-padding-zero">{{notice.createdBy?.firstName}}
            {{notice.createdBy?.lastName}}</p>
          <p class="txt-warm-grey font-14 Gotham-medium margin-bottom-0 margin-top-5 font-weight-500 txt-nowrap">
            {{notice.listing?.block}} {{notice.listing?.door}} {{notice.listing?.block?notice.listing?.door?'-':'-':''}}  {{notice.createdBy?.types}}
          </p>
        </ion-col>
        <ion-col class="text-right">
          <ion-badge color="warning" *ngIf="notice.discussionType" class="border-radius-10">{{notice.discussionType}}
          </ion-badge>
          <p class="txt-warm-grey font-11 Gotham-medium margin-bottom-0 margin-padding-zero font-weight-500 txt-nowrap">
            {{notice.createdAt |agoFilter}}
          </p>
        </ion-col>
      </ion-row>
      <div class="padding-5">
        <p class="Gotham-medium font-14 font-weight-500 margin-bottom-5 dark-grey margin-top-5">
          {{notice.title}}
        </p>
        <p class="margin-bottom-0 margin-top-5 font-weight-500  txt-warm-grey font-14 Gotham-medium" [innerHTML]="notice.body">
        </p>
      </div>

      <ion-row class="center-text" *ngIf="notice.files.length > 0">
        <br>
        <ion-col class="display-flex justify-center">
          <img src="{{notice.files[0].aws_original_url}}"
            style="max-width:100%; max-height:250px !important; width:auto; height:auto;">
        </ion-col>
        <br><br>
      </ion-row>

      <ion-grid (click)="stopEvent($event)">
        <ion-row>
          <ion-col>
            <span class="padding-right-20" >
              <ion-icon (click)="likeDiscussion(notice._id)" [ngClass]="{'btn-color':notice.hasLiked}"
                class="icon font-25 gotham margin-right-5" name="heart-empty"></ion-icon>
              <span class="text font-20">{{notice.likesCount}}</span>
            </span>
            <span class="padding-right-20">
              <ion-icon class="icon font-25 gotham margin-right-5" name="eye"></ion-icon>
              <span class="text font-20">{{notice.seenByCount}}</span>
            </span>
            <span class="padding-right-20">
              <ion-icon class="icon font-25 gotham margin-right-5" name="chatboxes"></ion-icon>
              <span class="text font-20">{{notice.commentCount}}</span>
            </span>
          </ion-col>
          <!-- <ion-col size="4">
            <span class="font-25 Gotham float-right">
              <ion-icon name="trash"></ion-icon>
            </span>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-infinite-scroll [hidden]="disableInfiniteScroll" threshold="5px" (ionInfinite)="getNoices($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles"
        loadingText="{{transService.getTranslatedData('infinite-scroll')}}">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </div>

  <ion-fab (click)="openCreateNoticeModal()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>