.aclass{
    width: 100%;
}

h4{
    text-align: center;
    text-transform: capitalize;
}
ion-label{
    display: flex;
    justify-content: center;
    font-weight: 500;
}
iOn-input{
    border-bottom: 1px solid black;
}