.viewer {
  // height: 400px;
  // width: 540px;
  margin: 0 auto;
  display: contents;
}


ion-button{
  display: inline-flex;
  justify-content: center;
}
ion-list{
  display: inline-flex;
  justify-content: center;
}

.transparentBody {
  background: transparent !important;
}