
ion-button{
  display: inline-flex;
  justify-content: center;
}
ion-list{
  display: inline-flex;
  justify-content: center;
}

.transparentBody {
  background: transparent !important;
}

div.square {
  border: solid 2px #111;
  width: 200px;
  height: 200px;
  z-index: 11;
  // margin: 30px;
}
p.square {
  border: solid 5px #fff;
  width: 300px;
  height: 200px;
  z-index: 11;
  margin-left: 30px;
  // margin: 30px;
}

