<!-- <ion-header>
  <ion-toolbar>
    <ion-title>brand</ion-title>
  </ion-toolbar>
</ion-header> -->


  <ion-content fullscreen>
    <ion-card>
      <img src="https://cdn.pixabay.com/photo/2016/03/15/09/08/quality-control-1257235__480.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
        <button ion-button type="button" class="btn btn-info">ABOUT US</button>
      <button ion-button type="button" class="btn btn-secondary">RECENT NEWS </button>
    </ion-card>

    <ion-card>     
      <ion-card-header>      
        <ion-card-title>Company History</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
      </ion-card>

    <ion-card>    
      <ion-card-header>
      <ion-card-title>Philosophy</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.<br><br><br>
        <b>  Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.</b>
      </ion-card-content>
      </ion-card>

    <ion-card>     
      <ion-card-header>        
        <ion-card-title>Indigo Terms</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
        </ion-card>
    
  </ion-content>

