<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="padding-0" >{{transService.getTranslatedData('calendar.title')}}</ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="md" class="shadow margin-padding-zero" value="4">
    <ion-segment-button mode="md" *ngFor="let date of dateList let i= index"
      class="margin-padding-zero min-width-37 font-12" value="{{i}}" (click)="resetDate(date)">
      <ion-label class="margin-padding-zero gotham txt-warm-grey">{{date |
        date:'EEE'}}</ion-label>
      <span class="padding-0 margin-top-5 margin-bottom-5 gotham font-30
        black-color">{{date | date:'dd' }}</span>
      <ion-label class="margin-padding-zero txt-warm-grey">{{date | date:'MMM'}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <!-- <span class="font-14 gotham" *ngIf="tickets?.length == 0" style="margin-top:5px; padding-left:15px">No tasks
    found</span> -->
  <ion-list class="margin-top-10">
    <ion-item *ngFor="let ticket of tickets" detail="true" lines="none" [routerLink]="['/rentals-ticket-details']"
      [queryParams]="{ticketId: ticket._id}">
      <ion-label class="margin-0">
        <p class="gotham-medium margin-bottom-8" text-wrap>
          <span class="float-left">#{{ticket.uid}} - </span>
          <span class="center-text"> {{ticket.ticketCategory}}</span>
          <span class="float-right">{{ticket.createdAt | date:'dd MMM
            yyyy'|agoFilter}}</span>
        </p>
        <!-- <p class="gotham font-weight-600 txt-grey">{{d.address}}</p> -->
        <p class="gotham font-weight-600 txt-grey margin-bottom-8">
          {{ticket.propertyName}} - {{ticket.propertyLocality}}</p>
        <!-- <p class="gotham font-weight-600 txt-grey">For -
          {{ticket.ticketBelongsTo == 'Home' ? 'Unit' : ticket.ticketBelongsTo}}</p> -->
        <p>
          <ion-badge class="gotham font-weight-600 padding-top-5
            padding-bottom-3 date-bedge-color" mode="md">
            {{ticket.jobDate | date:'dd MMM yyyy'}} {{ticket.jobStartTime |
            date:'hh:mm a'}}
          </ion-badge>
          <ion-badge class="gotham font-weight-600 margin-left-20 padding-top-5" color="{{ticket.status}}" mode="md">
            {{ticket.status == 'in-progress' ? transService.getTranslatedData('calendar.in-progress') : ticket.status}}
          </ion-badge>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll [hidden]="disableInfiniteScroll" threshold="5px" (ionInfinite)="searchTicket($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="{{transService.getTranslatedData('infinite-scroll')}}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>