<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Refund policy</ion-title>
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="closeModal()">
          <ion-icon style="    color: white;" slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content>
      <ion-list>
          <ion-item lines="none">
            <ion-label class="font-14">GENERAL CONDITIONS</ion-label>
            
          </ion-item>

          <ion-item class="font-12" lines="none">
              <section>    
                  <ul >
                    <li>In case any client is not completely satisfied with our products we can provide a refund. If paid by credit
                        card, refunds will be issued to the original credit card provided at the time of purchase and in case of
                        payment gateway name payments refund will be made to the same account.</li>
                    <li> In Case of Online Payment or Pre-Payment, Full amount will be refunded. if the cancellation is done before
                        4 hours of the scheduled service. No refund will be give in case of cancellation within 4 hours of the
                        scheduled service.
                    </li>
                  </ul>
                </section>
          </ion-item>
        </ion-list>
        
  </ion-content>