.reviewsubmit{
    padding-left: 105px;
    padding-top: 0px;
}

     .rate-us {
                    ion-buttons {
                        ion-button {
                            --padding-start: 0;
                            --padding-end: 0;
                            
                        }
                        background-color: white;
                    }
                   
                }