// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Gotham-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/gotham-font/gotham-font/Gotham-Medium.ttf");
}

@font-face {
  font-family: "Gotham";
  font-style: semi-bold;
  font-weight: 500;
  src: url("./fonts/gotham-font/gotham-font/Gotham-Book.ttf");
}

@font-face {
  font-family: "Gotham-Bold";
  font-weight: bold;
  src: url("./fonts/gotham-font/gotham-font/Gotham-Bold.ttf");
}

.txt-bold {
  font-weight: bold;
}
.my-custom-modal-css .modal-wrapper {
  height: 80%;
  width: 80%;
  position: absolute;
  display: block;
}

.underline-text {
  text-decoration: underline !important;
}

.ticket-details-card {
  padding: 10px !important;
  background-color: white !important;
  margin-top: 5px !important;
  margin-bottom: 20px !important;
}

.custom-card {
  /*padding: 2px !important;*/
  margin: 4px 0px 8px 0px !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 0px;
}

.ticket-comment-detail {
  padding: 10px !important;
  background-color: white !important;
  margin-top: 3px !important;
  margin-bottom: 3px !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.ticket-form {
  margin: 20px;
}

.ticket-assets-card {
  padding: 10px !important;
  background-color: white !important;
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

.ticket-details-list {
  // margin-top: 6px !important;
  background-color: white !important;
}

.ticket-approval-card {
  padding: 10px !important;
  background-color: white !important;
  margin-top: 1px !important;
}

.ticket-approval-card2 {
  // padding         : 10px !important;
  background-color: white !important;
  margin-top: 1px !important;
}

.margin-top-bottom-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.profile-cover-head {
  background-image: url("assets/cover-banner.png");
  background-size: cover;
}
.profile-main-head {
  padding: 10px;
}

.text-right {
  text-align: right !important;
}

.thm-primary {
  background-color: #17375e !important;
}

.gotham {
  font-family: "Gotham" !important;
}

.gotham-medium {
  font-family: "Gotham-Medium" !important;
}

.gotham-bold {
  font-family: "Gotham-Bold" !important;
}

.font-small {
  font-size: small !important;
}

.font-8 {
  font-size: 8px !important;
}

.font-9 {
  font-size: 9px !important;
}
.font-10 {
  font-size: 10px !important;
}

.font-12 {
  font-size: 12px !important;
}

.font-14 {
  font-size: 14px !important;
}

.font-15 {
  font-size: 15px !important;
}

.font-16 {
  font-size: 16px !important;
}
.font-17 {
  font-size: 17px !important;
}

.font-20 {
  font-size: 20px !important;
}

.font-24 {
  font-size: 24px !important;
}

.font-25 {
  font-size: 25px !important;
}

.font-28 {
  font-size: 28px !important;
}

.font-18 {
  font-size: 18px !important;
}

.font-30 {
  font-size: 30px !important;
}

.font-35 {
  font-size: 35px !important;
}

.font-40 {
  font-size: 40px !important;
}

.font-45 {
  font-size: 45px !important;
}

.font-50 {
  font-size: 50px !important;
}
.font-70 {
  font-size: 70px !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.discussion-comment {
  background: #fafafa;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.txt-nowrap {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.txt-medium {
  font-size: 20px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-right-23 {
  padding-right: 23px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.min-width-37 {
  min-width: 37px;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.height-40 {
  height: 40px !important;
}

.height-50 {
  height: 50px !important;
}

.height-70 {
  height: 70px !important;
}

.txt-warm-grey {
  color: #9b9b9b !important;
}

.black-color {
  color: black !important;
}

.txt-align-right {
  text-align: right !important;
}
.webkit-center {
  text-align: -webkit-center;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.button-balanced {
  background-color: #2b3d4b !important;
  color: white !important;
}

.img-responsive {
  width: 100% !important;
  height: auto !important;
  // height: 400px !important;
}

.height-70 {
  height: 70px !important;
}

.transparent {
  background: transparent !important;
}

.padding-left-0 {
  padding-left: 0px !important;
}

.padding-right-0 {
  margin-right: 0px !important;
}

.margin-5 {
  margin: 5px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-left-8 {
  margin-left: 8px !important;
}
.margin-left-5 {
  margin-left: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-1 {
  margin-right: 2vw !important;
}
.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-22 {
  margin-left: 22px !important;
}

.full-button {
  width: 100% !important;
}
.half-button {
  width: 80% !important;
  border-radius: 0 !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-left-13 {
  margin-left: 13px !important;
}

.margin-top-3 {
  margin-top: 3px !important;
}

.margin-top-7 {
  margin-top: 7px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-left-1 {
  margin-left: 3vw !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-minus-10 {
  margin-left: -10px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-8 {
  margin-top: 8px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.margin-top-35 {
  margin-top: 35px !important;
}

.margin-top-56 {
  margin-top: -56px !important;
}

.margin-bottom-3 {
  margin-bottom: 3px !important;
}

.margin-top-50 {
  margin-top: -50px !important;
}

.full-width {
  width: 100% !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}
.padding-bottom-3 {
  padding-bottom: 3px !important;
}
.padding-bottom-7 {
  padding-bottom: 7px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-0 {
  padding: 0px !important;
}

.padding-6 {
  padding: 6px !important;
}

.padding-8 {
  padding: 8px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-24 {
  padding: 24px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-12{
  padding-top: 12px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-top-bottom-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-top-2 {
  padding-top: 2px !important;
}

.padding-top-4 {
  padding-top: 4px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-top-6 {
  padding-top: 6px !important;
}

.padding-top-7 {
  padding-top: 7px !important;
}

.center-text {
  text-align: center !important;
}

.hidden {
  visibility: hidden !important;
}
.img-circle {
  border-radius: 50%;
  border: 5px solid white;
}

.square-70 {
  height: 70px !important;
  width: 70px !important;
}

.margin-left-22 {
  margin-left: 22px !important;
}

.center-image {
  text-align: -webkit-center !important;
}
.img-circle {
  border-radius: 50%;
  border: 5px solid white;
}

.square-radio {
  // display: inline-block !important;
  height: 100px;
  width: 114px;
}

.txt-white {
  color: white !important;
}

.padding-10 {
  color: #46413c !important;
}

.txt-slate-grey {
  color: #6d6e71 !important;
}

.dark-grey {
  color: #444444 !important;
}

.tile-option {
  height: 25px !important;
  width: 25px !important;
}
.margin-1 {
  margin: 1px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-0 {
  margin: 0px !important;
}

.margin-bottom-8 {
  margin-bottom: 8px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.icon-15 {
  height: 15px !important;
  width: 15px !important;
}

.icon-18 {
  height: 18px !important;
  width: 18px !important;
}

.icon-20 {
  height: 20px !important;
  width: 20px !important;
}

.icon-25 {
  height: 25px !important;
  width: 25px !important;
  // background: white;
  // border-radius: 25px;
  // border: 1px solid white;
}

.icon-40 {
  height: 40px !important;
  width: 40px !important;
}

.grey-back {
  background-color: #ecebe6 !important;
}

.txt-grey {
  color: #818181 !important;
}

.scroll {
  overflow-x: scroll !important;
}

.wide-as-needed {
  overflow: scroll !important;
  white-space: nowrap !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

.white-space-initial {
  white-space: initial !important;
}

.scroll-x {
  overflow-x: scroll !important;
}

.bg-white {
  background-color: white !important;
}

.margin-padding-zero {
  margin: 0px !important;
  padding: 0px !important;
}

// .shadow {
//   box-shadow: 10px 10px grey;
// }

.txt-slate-grey {
  color: #6d6e71 !important;
}

// .shadow {
//   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
// }

.txt-warm-grey {
  color: #9b9b9b !important;
}

.fit-content {
  width: fit-content;
}

.width-50 {
  width: 50px !important;
}

.height-50 {
  height: 50px !important;
}

.width-30 {
  width: 30px !important;
}

.height-30 {
  height: 30px !important;
}

.max-available-height {
  height: -webkit-fill-available;
}

.border-radius-5 {
  border-radius: 5px !important;
}

.border-radius-10 {
  border-radius: 10px !important;
}

.border-radius-25 {
  border-radius: 25px !important;
}

.border-0 {
  border: 0px !important;
}

.border-grey-1 {
  border: 1px solid gray !important;
}
.border-bottom-grey-1 {
  border-bottom: 1px solid lightgray !important;
}

.margin-top-minus-10 {
  margin-top: -10px !important;
}

.margin-top-0 {
  margin-top: 0px !important;
}

.margin-top-2 {
  margin-top: 2px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.width-80-percent {
  width: 80% !important;
}
.margin-negative{
  margin-top: -10vh !important;
}
.text-left {
  text-align: left !important;
}

.text-denger {
  color: #ff3333 !important;
}

ion-chip {
  border-color: #9d4065 !important;
  padding: 17px !important;
}

.button-large {
  margin: 0px !important;
  --border-radius: 0px !important;
  height: 45px !important;
  font-size: 16px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-5 {
  padding: 5px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}

.super-script {
  color: red;
}
.justify-center {
  justify-content: center !important;
}
.display-flex {
  display: flex !important;
}
.display-block {
  display: block !important;
}

.platform-button {
  border: 1px solid silver !important;
  margin-right: 0px !important;
  margin-bottom: 5px !important;
  text-align: center !important;
}

.alert-button-inner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.platform-popup {
  text-align: -webkit-center !important;
}

.date-bedge-color {
  background: #7999ea !important;
}

.btn-color {
  color: #1a3868 !important;
}

// .alert-button {
//   width: 100% !important;
//   background: #f04141 !important;
//   height: 40px;
//   margin: 0px !important;
//   span {
//     justify-content: center !important;
//   }
// }
// .alert-header {
//   #alert-4-hdr {
//     text-align: center !important ;
//   }
//   #alert-4-sub-hdr {
//     margin-top: 10px !important;
//   }
//   .alert-button-group {
//     padding: 0px !important;
//   }
// }


.alertOTPcss{
  .alert-title {
  font-size: 17px !important; 
  color: #1a3868;
  }
  .alert-message{
    text-align: center;
    margin-top: 10px;
  }
}


.text-black{
  color: black !important;
}


.text-ncolor{
  color: black	 !important;
}
.text-nunderline{
  text-decoration: underline !important;
  
}

ion-button{
  --background: black	 !important;
}

ion-item{
  --detail-icon-color: black	 !important;;
  --detail-icon-opacity:1;
}

.cart-number{
  font-size: 6px;
  color: black;
  position: absolute;
  display: inline-flex;
  margin-left: 5px;
  top: -11px;
  border: 1px solid black;
  background-color: white;
  border-radius: 41px;
  height: 9px;
  outline: none;
  width: 9px;
  justify-content: center;
}

.danger-button{
  --background: red !important;
}

.custom-refund-alert{
  --max-width: 100% !important;
  --min-height: 100% !important;
  --min-width: 100% !important;
}

.native-input[disabled].sc-ion-input-md {
  opacity: unset !important;
}

.my-custom-invoice-class{
  --color: black !important;
  .alert-title.sc-ion-alert-md {
    font-size: 16px;
    font-weight: 500;
  
}
.alert-message.sc-ion-alert-md {
  max-height: 240px;
  font-size: 16px;
  color: black !important;
  text-transform: capitalize !important;
}

.my-quiz-class .modal-wrapper{
  height: 80%;
  width: 80%;
  position: absolute;
  display: block;
}
}

// ngx-qrcode {
//   img {
//       width: 100%;
//   }
// }

////////////

#js--sc--container{
  width: 400px;
  height: 400px;
  margin: auto;
  canvas{
      position: absolute;
      top:0px;
      left:0px;
      z-index: 99;
      border-radius: 5px;
  }
  .cardamountcss{
    z-index: 9;
    font-size: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    text-align: center;

      .won-amnt{
      
        font-size: 15px;
        color: black;
        font-weight: 500;
      }
      .won-text{

          font-size: 2em;
          color: black;
      }
  }
  .sc__inner{
      background-color: #ffffff;
      height: 100%;
      width: 100%;
      // border-radius: 5px;
      // border: 1px solid #26005f;
  }
  .sc__canvas{
    width: 100%;
    height: 100%;
  }
}
.ionic-selectable-value-item{
  float: right;
}

.ionic-selectable{
  .show-modal{

    padding-top: 19em;
    position: absolute;
    padding-bottom: 1em;
    padding-left: 3em;
    padding-right: 6em;
  }
}


.ionic-selectable-modal{
  .toolbar-title-default{
  display: none;
  }
}
.sc-ion-modal-md-h{
  z-index: 0 !important;
}


.swiper-pagination {
  /* bottom: 50%; */
  z-index: 99 !important;
  color: black;
  background: transparent !important;
  height: auto;
  font-size: 16px;
  bottom: 16px !important;
}

.swiper-pagination-bullet {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-radius: 100%;
  background: grey !important;
  /* opacity: .2 !important; */
}

.native-input.sc-ion-input-md {
  // padding-left: unset;
  padding-left: 22px !important;
}

.sc-ion-popover-md-h {
  --width: 180px;
  left: -40px !important;
}