<ion-list class="padding-0">
  <ion-radio-group>
    <ion-list-header class="justify-center gotham">Sort By</ion-list-header>
    <ion-item lines="full">
      <ion-label class="gotham">Job Date</ion-label>
      <ion-radio mode="md" value="jobDate" checked></ion-radio>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="gotham">Created At</ion-label>
      <ion-radio mode="md" value="createdAt"></ion-radio>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="gotham">Ascending</ion-label>
      <ion-radio mode="md" value="ascending"></ion-radio>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="gotham">Descending</ion-label>
      <ion-radio mode="md" value="descinding"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>
<ion-button (click)="close()" class="gotham margin-0" expand="full">
  Filter
</ion-button>