

<ion-content style="    --background: black !important;" [fullscreen]="true">

  <div *ngFor="let ques of questions;let ii=index">
    <div *ngIf="count==ii">


  <ion-grid>
    <ion-row>
        <ion-col >

             <!-- <div>

                <ion-chip  style="width: 30px; background-color:#000000; position: relative;">
                    <ion-label>1</ion-label>
                  </ion-chip>

                  <ion-chip  style="width: 30px; background-color:#000000; ">
                    <ion-label>2</ion-label>
                  </ion-chip>

                  <ion-chip  style="width: 30px; background-color:#000000; ">
                    <ion-label>3</ion-label>
                  </ion-chip>

                  <ion-chip  style="width: 30px; background-color:#000000; ">
                    <ion-label>4</ion-label>
                  </ion-chip>

                  <ion-chip  style="width: 30px; background-color:#000000; ">
                    <ion-label>5</ion-label>
                  </ion-chip>

                  <ion-chip  style="width: 30px; background-color:#000000; ">
                    <ion-label>6</ion-label>
                  </ion-chip>


        </div> -->





        <ion-card class="card second-que">

          <div >
            <ion-item lines="none"  size-md="6" offset-md="3">
                <ion-label slot="start">
                  <h1  >{{ii+1}}.</h1>
                  
                </ion-label>
                <!-- <ion-skeleton-text *ngIf="!hideContent" animated style="width: 100%; padding: 10px;"></ion-skeleton-text> -->
                
              </ion-item>
  
                <ion-item lines="none"  size-md="6" offset-md="3">
                    <h3  ><strong>{{ques.question}}</strong></h3>
                   
                      <!-- <ion-skeleton-text *ngIf="!hideContent" animated style="width: 100%; padding: 10px;"></ion-skeleton-text> -->
                   
                </ion-item>

               
  
  
  
                <div class="button-div" *ngFor="let opt of ques.options.split('#||#');let i=index" (click)="dataChange(ii,ques.id,opt,i+1, ques.brand_id,ques.question_type)">
  
                  <div *ngIf="ques.question_type== '0' " class="buttons , button1" >
                    <ion-button tappable (click)="delayText()" shape="round" expand="full" expand="full" fill="outline" >{{opt}}
                    <!-- <input class="pricing" type="checkbox" id="pricing" name="pricing" style="visibility: hidden;"> -->
                  <!-- <label for="pricing"><span class="block-diff">1. ALMOND</span></label> -->
                </ion-button>
                <!-- <ion-skeleton-text *ngIf="!hideContent" animated style="width: 100%; padding: 10px;"></ion-skeleton-text> -->

                </div>


               
  
                  <div *ngIf="ques.question_type== '1'  && i < 1" class="buttons , button1" >
                    <ion-item class="date-input">
                      <!-- <ion-label style="color: black;">Select Date</ion-label> -->
                      <ion-datetime placeholder="Select Month And year"
                     
                      (ionChange)="selectedDate($event,ii,ques.id,opt,i+1, ques.brand_id,ques.question_type)"
                      name="month"
                      [(ngModel)]="selectdate"></ion-datetime>
                    </ion-item>
                <!-- <ion-skeleton-text *ngIf="!hideContent" animated style="width: 100%; padding: 10px;"></ion-skeleton-text> -->

                </div>

                <div *ngIf="ques.question_type== '2'  && i < 1" class="buttons , button1" >
                  <ion-item>
                    <!-- <ion-label position="stacked">Stacked Label</ion-label> -->
                    <ion-input  [(ngModel)]="selectName"></ion-input>
                    <ion-button  [disabled]="selectName.length <= 1" (click)="selectedName($event,ii,ques.id,opt,i, ques.brand_id,ques.question_type);">
                      <ion-icon style="    color: white;
                      font-size: 27px;
                      font-weight: 500;" name="checkmark-circle-outline"></ion-icon>
                    </ion-button>
                  </ion-item>
              <!-- <ion-skeleton-text *ngIf="!hideContent" animated style="width: 100%; padding: 10px;"></ion-skeleton-text> -->

              </div>

  
  
              
  
  
                </div>
          </div>

          <!-- <div class="card-content back">
            <ion-item lines="none"  size-md="6" offset-md="3">
                <ion-label slot="start">
                  <h1  >{{ii+1}}.</h1>
                </ion-label>
  
              </ion-item>
  
                <ion-item lines="none"  size-md="6" offset-md="3">
                    <h3 ><strong>{{ques.question}}</strong></h3>
                </ion-item>
  
  
  
                <div class="button-div" *ngFor="let opt of ques.options.split('#||#');let i=index" (click)="dataChange(ii,ques.id,opt,i+1, ques.brand_id)">
  
                  <div class="buttons , button1" >
                    <ion-button shape="round" expand="full" expand="full" fill="outline" >{{opt}}
                 
                </ion-button>
                </div>
  
            
  
  
  
  
                </div>
          </div> -->


                  </ion-card>






        </ion-col>
    </ion-row>
</ion-grid>
</div></div>

</ion-content>
